@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
  background-color: #000000;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.App{
  padding: 1.5rem 8% 1rem;
}